.idea/
*.iml
vendor/
.glide/
terraform-provider-vmware
terraform-provider-vmware.exe
terraform-vsphere
bin/
.vagrant/
*.tf
terraform.tfplan
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.log
.govmomi/
