.idea/
*.iml

vendor/
.glide/
terraform-provider-vmware
terraform-provider-vmware.exe
bin/

*.tf
.terraform/
terraform.tfplan
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
*.log
.govmomi/
